.header {
  margin: 5vh 0 3vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(102, 127, 228);
  border-bottom: 1px solid rgb(237, 237, 237);
  padding: 2rem 0;
}

@media screen and (max-width: 640px) {
  .header {
    display: block;
    padding-top: 1rem;
  }
  .selectedCards__count {
    text-align: center;
  }
  .action__btns {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;
    flex-wrap: wrap;
  }
}
.header .selectedCards__count {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 0.9rem;
}

.header .action__btns .btn {
  padding: 0 0.5rem;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  color: rgb(102, 127, 228);
  font-size: 0.9rem;
  font-weight: 500;
}
.header .action__btns .checkbox__label {
  display: inline-block;
}
.header .action__btns .checkbox__label span {
  margin-left: 2px;
}
.btn__remove {
  margin-right: 2rem;
}
.checkbox__label {
  position: relative;
}
#upload__myImage {
  display: none;
}
